body{
	margin:0;
	background-color: rgb(236, 236, 236);
}

table{
	border-spacing: 0;
	margin-top: 2rem;
	background-color: white;
	display: inline-block;
	margin: 1rem;
}

table, td{
	border: 1px solid black;
}

td{
	vertical-align: top;
	text-align: left;
	width: 80px;
	height: 80px;
	/* padding: 2rem; */
}

span{
	position: absolute;
	width: 80px;
	line-height: 80px;
	text-align: center;
}



.yellow {
	background-color: yellow;
}
.red {
	background-color: #ff4d4d;
}
.green {
	background-color: #79e651;
}
.spawn{
	vertical-align: top;
	text-align: left;
	line-height: 1rem;
	width: 1rem;
	background-color: #f0dd32;
}
.agent{
	vertical-align: bottom;
	text-align: right;
	line-height: 1rem;
	background-color: #6297f8;
}

.top{
	text-align: center;

	line-height: 1rem;
}
.left{
	text-align: left;
	width: 1rem;
}
.right{
	text-align: right;
}
.bottom{
	line-height: 9rem;
	vertical-align: bottom;
}


button{
	position: fixed;
	padding: 2rem;
	left: 1rem;	
	bottom: 1rem;
}

ul{
	list-style-type: none;
	padding:0;
	width: 100%;
	text-align: center;
}